<!DOCTYPE html>
<html>
    <head>
        <!-- 公共描述 start public/head -->
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no,address=no,email=no">

<!-- 公共描述 end -->
<!-- 公共样式 start -->
<script src="__STATIC__/assets/lodash.js?t=1511228427927"></script>
<script src="__STATIC__/assets/i18next.min.js?t=1511228427927"></script>
<script src="__STATIC__/assets/modernizr.min.js?t=1511228427927"></script>
<script src="__STATIC__/assets/template-web.js?t=1511228427927"></script>
<script src="__STATIC__/assets/micro-storage.min.js?t=1511228427927"></script>
<link rel="stylesheet" href="__STATIC__/assets/swiper.min.css?t=1511228427927">
<link rel="stylesheet" href="__STATIC__/css/main.css?t=1511228427927">
<!-- 公共样式 end -->

        <title> {:C('WEB_SITE_TITLE')} </title>
        <meta name="keywords" content="keywords">
        <meta name="description" content="description">
    </head>
    <body>
        <script>
(function () {
    var store = microStorage('HEAVYRAIN');
    var lang = store('language');
    window.$lang = lang ? lang : /zh/i.test(navigator.language) ? 'cn' : 'en';
    store('language', window.$lang);
})();
</script>

<script>window.$debug = true</script>
<script>document.body.classList.add('lang-' + window.$lang)</script>

        <div class="g-layout speaker">
                <include file="Public/topnav"/>

            <div class="g-body">
                <!-- 背景 start public/banner -->
<div class="g-banner is-ceil"></div>
<div class="g-banner is-floor"></div>
<!-- 背景 end -->

                <div class="g-center">
                    <!-- 嘉宾详情 start -->
                    <div class="g-container" tpl="main"></div>
                    <script id="tpl-main" type="text/html">
                        <h2 class="speaker__title">{{ title }}</h2>
                        <div class="speaker__article">
                            <div class="g-aside">
                                <img src="{$info.cover_id|get_cover='path'}" alt="" width="500" height="500">
                                
                                <ul>
                                    {{@ text }}
                                </ul>
                            </div>
                            <div class="g-main">
                                <h1>{{ article_title }}</h1>
                                <span>{{ introduce }}</span>
                                {{@article_content}}
                                <div class="g-shape1"></div>
                            </div>
                        </div>
                    </script>
                    <script>
                        i18next.init({
                            lng: window.$lang,
                            debug: window.$debug,
                            returnObjects: true,
                            resources: {
                                en: {
                                    main: {
                                        title: 'SPEAKERS',
                                        article_title: '{$info.title_en}',
                                        introduce: 'Introduce',
                                        article_content: '{$info.content_en}',
                                        text: "{$info.honor_en}"
                                    },
                                },
                                cn: {
                                    main: {
                                        title: '演讲嘉宾',
                                        article_title: '{$info.title}',
                                        introduce: '介绍',
                                        article_content: '{$info.content}',
                                        text: '{$info.honor_cn}'
                                    },
                                },
                            },
                        }, function ( err, t ) {
                            document.querySelector('[tpl="main"]').innerHTML = template('tpl-main', {
                                title: t('main:title'),
                                article_title: t('main:article_title'),
                                article_content: t('main:article_content'),
                                text: t('main:text'),
                            });
                        });
                    </script>
                    <!-- 嘉宾详情 end -->
                </div>
            </div>
            <!-- 页脚 start public/footer -->
<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
<!-- 页脚 end -->
<!-- 公共脚本 start -->
<script src="__STATIC__/assets/axios.min.js?t=1511228427927"></script>
<script src="__STATIC__/assets/swiper.min.js?t=1511228427927"></script>
<script src="__STATIC__/js/main.js?t=1511228427927"></script>
<!-- 公共脚本 end -->

        </div>
    </body>
</html>
